* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #873e35;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    border: none;
}

.gfg {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 24px;
    font-weight: 600;
    color: #01940b;
    align-items: center;
}

.video-container {
    max-width: 500px;
    max-height: 300px;
    position: relative;
    border: 1px ridge;
    margin: 0 auto;
    background-color: black;
    align-items: center;
}

#video-thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    z-index: 5;
}

#video,
img {
    width: 100%;
    height: 100%;
}

.controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(
        0,
        0,
        0,
        0.7
    );
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    opacity: 0;
    .video-container:hover .controls{
        opacity: 1;
    }
    transition: opacity 0.3s ease-in;
    overflow: hidden;
}

.controls button {
    background-color: #1b181e;
    border: none;
    color: #1b181e;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}

.left {
    position: relative;
    top: 1%;
    width: 70px;
    display: flex;
    justify-content: space-between;
}

.video-timer {
    position: relative;
    top: 5px;
    right: 6px;
    display: flex;
    flex-direction: row;
    color: #efefef;
    margin-left: 15px;
    font-size: 12px;
}

#separator {
    margin: 0 5px;
    font-size: 16px;
    font-family: "Open sans", serif;
}

.right {
    position: relative;
    padding: 10px;
    top: 1px;
}

.fa-volume-up,
.fa-solid {
    font-size: small;
    padding: 5px;
    color: rgb(255, 255, 255);
}

button,
input {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.volume-container {
    display: flex;
    align-items: center;
}

#volume {
    position: relative;
    left: 5px;
    width: 50px;
    height: 3px;
}

#mute {
    cursor: pointer;
}

.playback-line {
    position: relative;
    top: 3px;
    height: 4px;
    background-color: #ddd;
    flex-grow: 1;
    cursor: pointer;
}

.progress-bar {
    height: 100%;
    width: 10%;
    background-color: #0078d4;
    transition: width 1s linear;
}