* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #873e35;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    border: none;
}

.gfg {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 24px;
    font-weight: 600;
    color: #01940b;
    align-items: center;
}

.video-container {
    max-width: 500px;
    max-height: 300px;
    position: relative;
    border: 1px ridge;
    margin: 0 auto;
    background-color: black;
    align-items: center;
}

#video-thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    z-index: 5;
}

#video {
    width: 100%;
    height: 100%;
}

#video-thumbnail {
    width: 100%;
    height: 100%;
}

#video-thumbnail.hidden {
    display: none;
}

.controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(
        0,
        0,
        0,
        0.7
    );
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    overflow: hidden;
}

.video-container:hover .controls{
        opacity: 1;
    }

.controls button {
    background-color: #1b181e;
    border: none;
    color: #1b181e;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}

.ocr {

    /* From Uiverse.io by cssbuttons-io */

    button {
        font-size: 17px;
        padding: 1em 2.7em;
        font-weight: 500;
        background: #1f2937;
        color: white;
        border: none;
        position: relative;
        overflow: hidden;
        border-radius: 0.6em;
        cursor: pointer;
    }

    .gradient {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 0.6em;
        margin-top: -0.25em;
        background-image: linear-gradient(
                rgba(0, 0, 0, 0),
                rgba(0, 0, 0, 0),
                rgba(0, 0, 0, 0.3)
        );
    }

    .label {
        position: relative;
        top: -1px;
    }

    .transition {
        transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
        transition-duration: 500ms;
        background-color: rgba(16, 185, 129, 0.6);
        border-radius: 9999px;
        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    button:hover .transition {
        width: 14em;
        height: 14em;
    }

    button:active {
        transform: scale(0.97);
    }
}

.left {
    position: relative;
    top: 1%;
    width: 70px;
    display: flex;
    justify-content: space-between;
}

.video-timer {
    position: relative;
    top: 5px;
    right: 6px;
    display: flex;
    flex-direction: row;
    color: #efefef;
    margin-left: 15px;
    font-size: 12px;
}

#separator {
    margin: 0 5px;
    font-size: 16px;
    font-family: "Open sans", serif;
}

.right {
    position: relative;
    padding: 10px;
    top: 1px;
}

.fa-volume-up,
.fa-solid {
    font-size: small;
    padding: 5px;
    color: rgb(255, 255, 255);
}

button,
input {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.volume-container {
    display: flex;
    align-items: center;
}

#volume {
    position: relative;
    left: 5px;
    width: 50px;
    height: 3px;
}

#mute {
    cursor: pointer;
}

.playback-line {
    position: relative;
    top: 3px;
    height: 4px;
    background-color: #ddd;
    flex-grow: 1;
    cursor: pointer;
}

.progress-bar {
    height: 100%;
    width: 10%;
    background-color: #0078d4;
    transition: width 1s linear;
}